.forgot__password__input__control--search {
  width: 100%;
}

.forgot__password__input__control--search div {
  display: flex;
  width: 100%;
}

.forgot__password__input__control--search div input {
  width: 100%;
  padding: 15px;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.forgot__password__input__control--button button {
  padding: 15px 20px;
  width: 100%;
  border-left: none;
  border: none;
  background: #4885ed;
  color: white;
  font-weight: 600;
  border-radius: 6px;

  display: flex;
  align-items: center;

  justify-content: center;
  gap: 10px;
  font-size: 20px;
  transition: 0.5s;
}

.forgot__password__input__control--button button:hover {
  box-shadow: #6a9aee 0px 2px 7px 2px;
}

.forgot__password__input__control--button {
  display: flex;
  width: 100%;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
