
.card {
    width: 250px;
    overflow: hidden;
    border-radius: 25px;
    border: 1px solid lavender;
    margin: 10px;
    box-shadow: 5px 5px 15px 5px rgba(230, 230, 250, 1);
    transition: 0.2s ease-in-out;
 }

 .card:hover{
   transform: scale(102%);
   cursor: pointer;
 }
 
 .card__image {  
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .card__image > img {
     width: 160px;
     height: 160px;
    border-radius: 30px; 
     object-fit: cover;
    object-position: center; 
 }
 
 .card__info {
    color:#2f4cdd; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-direction: column;  padding-bottom: 20px;
 }
 .card__info h3 {
     color:#18214f;
    font-size: 18px;
    font-weight: 700;
 }
 .card__info p {
    font-size: 16px;
    font-weight: 700;
 }
 .card__info--price {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center; 
 }
 
 ::-webkit-scrollbar {
    width: 8px;
 }
 
 ::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 10px;
 }
 
 ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
 }
 