.login__container {
  padding-top: 70px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
  gap: 20px;
  height: 550px;
  overflow: hidden;
}

.login__left,
.login__right,
.forgot_password_container {
  flex: 1;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 6px !important;
}
.login__left > h2 {
  font-weight: 700;
  margin: 0px 0px 8px;
}
.login__right > h2,
.signup__input__form h2 {
  font-weight: 700;
  margin: 0px 0px 5px;
}

.login__right > p,
.login__left > p,
.signup__input__form p {
  color: #7a81a6;
}

.signup__input__form p.temp-data {
  margin-top: 20px;
}

.signup__input__form p span {
  color: #2f4cdd;
}

.login__right__input{
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex:1;
}

.login__right__input__control,
.signup__input__form__control,
.forgot__password__input__control
{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.login__right__input__control label,
.signup__input__form__control label,
.forgot__password__input__control label {
  font-weight: 600;
  color: #18214f;
  font-size: 14px;
}

.login__right__input__control input,
.signup__input__form__control input,
.forgot__password__input__control input {
  height: 60px;
  font-size: 16px;
  font-weight: 400;
  color: #18214f;
  transition: all 0.3s ease-in-out;
  background: #fff;
  border-radius: 6px !important;
  border: 0;
  border: 1px solid #dddddd;
  padding: 10px 20px;
}

.login__right__button {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}

.btn-primary {
  font-size: 16px;
  padding: 13px 25px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #2f4cdd;
  background-color: #2f4cdd;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}

.login__right__button p {
  display: flex;
  align-items: center;
  color: #2f4cdd;
  cursor: pointer;
}

.login__left > button {
  margin-top: 20px;
  color: #ffffff;
}

.login__right__button > button {
  color: #ffffff;
}

.form-error {
  color: red !important ;
}

/* ======================SIGN UP CSS STARTS=============================== */

.signup__container {
  display: flex;
  justify-content: center;
}

.signup__input__container {
  background-color: #eee;
  padding: 30px;
  border-radius: 6px;
  max-width: 540px;
}

.signup__container {
  padding: 40px 0px 10px;
}

.signup__input__form button {
  margin-top: 20px;
  width: 100%;
  color: #ffffff;
}


/* Forgot Password */
.forgot__password__input__control div{
  display: flex;
  flex-direction: row;
}

.forgot__password__input__control--input {
  display: flex;
  flex-direction: column;
}